.content {
        overflow: hidden;

        form {
            width: 100%;
            // max-width: 800px !important;
        }
    }

    .example-margin {
        margin: 10px;
        } 


    #Home-Announcement {
    .home-announcement-editor{
        .tox.tox-tinymce{
            height: 300px !important;
        }
    }
    }       