<!-- CARD CONTENT -->
<div class="fuse-content forms" id="My-Forms-home">
    
    <div class="p-16 title">
        <div class="h1 font-weight-800">MY SERVICES</div>
    </div>
    
    <div class="px-16 mat-table-p" style="overflow: auto !important;">
        <mat-table class="simple clickable" #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}" fusePerfectScrollbar>
            <ng-container matColumnDef="{{column.columnDef}}" *ngFor="let column of Columns">
            <span *ngIf="column.columnDef">
                <mat-header-cell class="dt-paginations" *matHeaderCellDef><h3>{{column.header}}</h3></mat-header-cell>
                <mat-cell class="text-capitalize" *matCellDef="let element"> 
                    <span *ngIf="column.columnDef!=='created_at' && column.columnDef!=='status'">
                        {{element[column.columnDef]}}
                    </span>
                    <span *ngIf="column.columnDef=='created_at'">{{element[column.columnDef] | date: defaultDateTimeFormat.date_format}}</span>
                    <span *ngIf="column.columnDef=='status' && element.status !='Submitted to WorxHub'" [style.color]="element.status == 'cancelled' ||  element.status == 'denied' ||  element.status == 'rejected' ? 'red' : element.status == 'pending'?  'orange':'green'">
                        {{ statusName[element[column.columnDef]] | titlecase}}   
                    </span>
                    <span *ngIf="column.columnDef=='status' && element.status =='Submitted to WorxHub'" [style.color]="element.status == 'cancelled' ||  element.status == 'denied' ||  element.status == 'rejected' ? 'red' : element.status == 'Submitted to WorxHub'?  'green':'green'">
                        {{element.status}} 
                    </span>
                    
                </mat-cell>
            </span>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>

    <div *ngIf="length > 0" class="more">
        <a class="font-weight-600" [routerLink]="[homesettings.form_see_more_url]">See All Forms <mat-icon class="s-20">arrow_right</mat-icon></a>
    </div>

    <div class="no-record pt-20 pb-20 mx-16 border-bottom border-left border-right mb-20" *ngIf="length === 0">No Records Found</div>

</div>
<!-- / CARD CONTENT --> 