<div class="page-layout simple left-sidebar inner-sidebar">

    <!-- HEADER -->
    <div class="header accent p-24 h-80" fxLayout="row" fxLayoutAlign="start center">
        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">lock
                </mat-icon>
                <span class="logo-text h3" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Privacy Settings
                </span>
            </div>
        </div>
        <!-- / APP TITLE -->
    </div>
    <!-- / HEADER -->


    <!-- CONTENT -->
    <div class="content">

        <!-- SIDEBAR -->
        <fuse-sidebar class="sidebar" name="simple-left-sidebar-3" position="left" lockedOpen="gt-md">

            <!-- SIDEBAR CONTENT -->
            <div class="content p-24" fusePerfectScrollbar>
                <div class="profile-sidebar">
				    <mat-list>
				        <mat-list-item>
				            <a class="primary-300-fg" [routerLink]="['/admin/settings/profile']" [routerLinkActive]="['active','primary-800-fg']">Your Profile</a>
				        </mat-list-item>

				        <mat-divider></mat-divider>

				        <mat-list-item>
				            <a class="primary-300-fg" [routerLink]="['/admin/settings/password']" [routerLinkActive]="['active','primary-800-fg']">Password</a>
                        </mat-list-item>

                        <mat-divider></mat-divider>
                        
                        <mat-list-item>
				            <a class="primary-300-fg" [routerLink]="['/admin/settings/privacy']" [routerLinkActive]="['active','primary-800-fg']">Privacy</a>
				        </mat-list-item>

				        <mat-divider></mat-divider>
				    </mat-list>
				</div>
            </div>
            <!-- / SIDEBAR CONTENT -->

        </fuse-sidebar>
        <!-- / SIDEBAR -->

        <!-- CENTER -->
        <div class="center p-24" fusePerfectScrollbar>

            <!-- CONTENT -->
            <div class="content profile p-24">
                
                <form fxLayout="column" fxLayoutAlign="start"  [formGroup]="privacyForm">

                    <div class="h2 mb-24">Privacy</div>
                    
                    
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field floatPlaceholder="always" floatLabel="always" fxFlex="100%" class="pb-20 mat-form-field--no-underline">
                            <mat-label>Hide email from directory</mat-label>
                            <input matInput placeholder="Input" style="display: none" >
                            <mat-radio-group fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="8px grid" name="hide_email_res_dir" formControlName="hide_email_res_dir">
                                <mat-radio-button class="mx-4"  fxFlex="calc(50%-8px)" value="Y">Yes</mat-radio-button>
                                <mat-radio-button class="mx-4"  fxFlex="calc(50%-8px)" value="N">No</mat-radio-button>
                            </mat-radio-group>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field floatPlaceholder="always" floatLabel="always" fxFlex="100%" class="pb-20 mat-form-field--no-underline">
                            <mat-label>Hide phone from directory</mat-label>
                            <input matInput placeholder="Input" style="display: none" >
                            <mat-radio-group fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="8px grid" name="hide_phone_res_dir" formControlName="hide_phone_res_dir">
                                <mat-radio-button class="mx-4"  fxFlex="calc(50%-8px)" value="Y">Yes</mat-radio-button>
                                <mat-radio-button class="mx-4"  fxFlex="calc(50%-8px)" value="N">No</mat-radio-button>
                            </mat-radio-group>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field floatPlaceholder="always" floatLabel="always" fxFlex="100%" class="pb-20 mat-form-field--no-underline">
                            <mat-label>Show my profile in directory</mat-label>
                            <input matInput placeholder="Input" style="display: none" >
                            <mat-radio-group fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="8px grid" name="show_profile_res_dir" formControlName="show_profile_res_dir">
                                <mat-radio-button class="mx-4"  fxFlex="calc(50%-8px)" value="Y">Yes</mat-radio-button>
                                <mat-radio-button class="mx-4"  fxFlex="calc(50%-8px)" value="N">No</mat-radio-button>
                            </mat-radio-group>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field floatPlaceholder="always" floatLabel="always" fxFlex="100%" class="pb-20 mat-form-field--no-underline">
                            <mat-label>Receive All-Resident Email Notifications</mat-label>
                            <input matInput placeholder="Input" style="display: none" >
                            <mat-radio-group fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="8px grid" name="recive_all_resident_email_notify" formControlName="recive_all_resident_email_notify">
                                <mat-radio-button class="mx-4"  fxFlex="calc(50%-8px)" value="Y">Yes</mat-radio-button>
                                <mat-radio-button class="mx-4"  fxFlex="calc(50%-8px)" value="N">No</mat-radio-button>
                            </mat-radio-group>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field appearance="outline" floatLabel="always" fxFlex>
                            <mat-label>Who can send me private messages?</mat-label>
                            <mat-select placeholder="Who can send me private messages?" name="message_notification_privacy" formControlName="message_notification_privacy">
                                <mat-option value="everyone">Everyone</mat-option>
                                <mat-option value="nobody">Nobody</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
	                    <button mat-flat-button type="button" color="accent" class="mt-12" [disabled]="privacyForm.invalid" (click)="onSubmit($event)">Update Privacy</button>
	                </div>

	            </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

    </div>
    <!-- / CONTENT -->

</div>
