#dining-service-add {
    .date-close-btn {border-radius: 50px;}
    th,
    td {
        text-align: center !important;
        padding: 12px 6px;
    }

    .reservation-check-table {
        overflow-x: scroll;
    }
    .w-100-px {width: 100px;}

    .font-size-18 {font-size: 18px !important;}
}