<ng-container *ngIf="elementinfo.quicklinks.length>0">
    <div class="mb-20">
        <div class="column-actions green-bg-color text-center drag-handle">
            <mat-icon class="s-20 m-8 icon fuse-white-fg" (click)="openEditElementDialog()">brush</mat-icon>
            <mat-icon class="s-20 m-8 icon fuse-white-fg" (click)="cloneElement()">file_copy</mat-icon>
            <mat-icon class="s-20 m-8 icon fuse-white-fg" (click)="removeElement()">delete</mat-icon>
        </div>
        <div class="border p-16 text-center">
            <p><mat-icon class="s-20 icon">ballot</mat-icon>Content Boxes</p>
            <p>layout={{elementinfo.boxlayout}}</p>
            <p>columns={{elementinfo.columns}}</p>
        </div>
    </div>
</ng-container>