.text-center {
    text-align: center !important;
}

td {
    word-break: break-word;
}

table {
    a{
        color: black;
        text-decoration: none;
    }
}

.mat-stroked-button {

    padding: 0 38px !important;
}
