<div class="page-layout page-layout-add simple left-sidebar inner-sidebar inner-scroll" id="dining-service-add">
    <!-- HEADER -->
    <div class="header accent p-24 h-80" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">person_add
                </mat-icon>
                <span class="logo-text h3" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    {{title}}
                </span>
            </div>
        </div>
        <!-- / APP TITLE -->

        <!-- BTN's -->
        <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="end center">
            <div class="mt-16 mt-sm-0">
                <!-- <button mat-raised-button class="reference-button">
                      <mat-icon class="mr-4">add</mat-icon>
                      <span>Add Fields</span>
                  </button> -->
                <button mat-raised-button [@animate]="{value:'*',params:{delay:'100ms',x:'25px'}}"
                    [routerLink]="'/admin/meeting-room/room-layout/list'">
                    <mat-icon class="mr-4">arrow_back</mat-icon>
                    Back To List
                </button>
            </div>
        </div>
        <!-- / BTN's -->

    </div>
    <!-- / HEADER -->


    <!-- CONTENT -->
    <div class="content" fusePerfectScrollbar>

        <!-- CENTER -->
        <div class="center p-24 pb-56" fxLayoutAlign="center">

            <!-- CONTENT -->
            <div class="content w-90-p my-auto">
                <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
                    autocomplete="off" [formGroup]="addRoomLayout" novalidate autocomplete="off">

                    <div class="font-weight-600 font-size-18 green-bg-color fuse-white-fg p-16">{{title}}</div>
                    
                    <div class="d-block p-28">
                        <input type="hidden" formControlName="id">
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Title</mat-label>
                                <input matInput formControlName="title" name="title" required>
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxFlex="100" class="select-background-img mb-20">
                            <mat-label class="font-weight-600 mb-8">Select Image:</mat-label>
                            <input hidden type='file' [accept]="inputAccpets" (change)="onSelectLogoFile($event)"
                                #logofile />
                            <div class="btn border p-16 border-radius-4" fxLayout="row" fxLayoutAlign="start center">
                                <button mat-stroked-button color="accent" class="mr-12 choose-from-gallery"
                                    (click)="logofile.click()">Choose From
                                    Gallery
                                </button>
                                <div *ngIf="filetype==true" class="select-img">
                                    <img [src]="logourl" height="80" width="100" />
                                </div>
                                <input hidden type="text" formControlName="image"  required/>                                
                            </div>
                            <mat-error *ngIf="isImage">Status required</mat-error>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline" fxFlex="100" class="pr-8">
                                <mat-label>Status</mat-label>
                                <mat-select matNativeControl required formControlName="status" required>
                                    <mat-option value="">-Choose-</mat-option>
                                    <mat-option value="A">Active</mat-option>
                                    <mat-option value="I">Inactive</mat-option>
                                </mat-select>
                                <mat-error>Status required</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                            <button mat-raised-button class="text-uppercase purple-btn-bg font-size-16 fuse-white-fg line-height-44 br-ds-0 box-shadow-none mr-8" cdkFocusInitial (click)="onSubmit()">Save</button>
                            <button mat-raised-button class="text-uppercase purple-btn-bg font-size-16 fuse-white-fg line-height-44 br-ds-0 box-shadow-none" type="button" cdkFocusInitial (click)="Cancel()">Cancel</button>
                        </div>
                    </div>    
                </form>
            </div>
        </div>
    </div>

</div>