<div id="food-Reservation-app-view-personal-details" class="page-layout simple fullwidth layout-box">
    <!-- HEADER -->
    <div class="header px-16">

        <div class="header-content h-100-p" fxLayout="column" fxLayoutAlign="center center" fxLayout.lt-sm="row">

            <div class="header-top">

                <div class="logo text-center">
                    <span class="logo-text font-size-48 fuse-white-fg"
                        [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                        [ngStyle.lt-sm]="{'font-size.px': 30}">
                        <strong>To Go Order</strong>
                    </span>
                </div>
                <!-- HEADER TEXT -->

            </div>
            <!-- / TOOLBAR -->`
        </div>

    </div>
    <!-- / HEADER -->

    <div class="content" [@animate]="{value:'*',params:{delay:'200ms',y:'50px'}}">
        <div class="content-wrap fuse-white-bg p-28">
            <!-- <div class="font-weight-600 blue-grey-50 p-12 mb-20 line-height-28">
                <p>It can take up to one hour to complete the delivery.</p>
                <p>Food orders must be submitted by the following times:</p>
                <p>- Building 'A' and 'B' by 3:00PM</p>
                <p>- Building 'C', 'D', E and Cottages by 3:30PM.</p>
                <p>All orders placed after 3:30PM should be made by calling To-Go Orders at 843-689-7005.</p>
                <p>Orders placed after 3:30PM will be delivered after 6:30PM.</p>
            </div> -->

            <div fxLayout="row" fxLayout.lt-sm="column">
                <div fxFlex="60" class="mr-20 media-mr-0" fxFlex.lt-sm="100" [ngClass.lt-sm]="{'w-100-p': 'true'}">
                    <form class="w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
                        [formGroup]="addOrder" novalidate autocomplete="off">
                        <div class="font-weight-600 font-size-18 accent fuse-white-fg p-12 text-center text-capitalize">
                            {{type}}
                        </div>

                        <div class="p-16 border line-height-40 media-line-height-24">
                            <div fxLayout="row" fxLayout.lt-sm="column" class="mb-12" *ngIf="type == 'pickup'">
                                <div fxFlex="40" fxFlex.lt-sm="100" class="mr-8 font-weight-600">Location :</div>
                                <div fxFlex="60" class="text-capitalize" fxFlex.lt-sm="100"> {{locationName}}</div>
                            </div>


                            <div fxLayout="row" fxLayout.lt-sm="column" class="mb-12">
                                <div fxFlex="40" fxFlex.lt-sm="100" class="mr-8 font-weight-600">Delivery Date / Time :
                                </div>
                                <div fxFlex="60" fxFlex.lt-sm="100"> {{dateDeliver}} <span *ngIf="type == 'pickup'">
                                        {{pickupTime}}</span><span *ngIf="type == 'delivery'"> ASAP</span> </div>
                            </div>


                            <div *ngIf="type == 'delivery'" fxLayout="row" fxLayout.lt-sm="column" class="mb-12">
                                <div fxFlex="40" fxFlex.lt-sm="100" class="mr-8 font-weight-600">Address :</div>
                                <div fxFlex="60" fxFlex.lt-sm="100" class="text-capitalize"> {{building}}</div>
                            </div>


                            <!-- <div *ngIf="type == 'delivery'" fxLayout="row">
                                    <div fxFlex="40" class="mr-8 font-weight-600">Street :</div> 
                                    <div fxFlex="60"> {{street}}</div>
                                </div> -->

                            <div class="font-weight-600 mb-8">Personal Details :</div>

                            <div class="border p-12 border-radius-4">
                                <div fxLayout="row" fxLayout.lt-sm="column" class="mb-12">
                                    <div fxFlex="40" class="font-weight-600">Name :</div>
                                    <div fxFlex="60" class="text-capitalize"> {{name}}</div>
                                </div>


                                <div fxLayout="row" fxLayout.lt-sm="column" class="mb-12">
                                    <div fxFlex="40" class="font-weight-600">Email :</div>
                                    <div fxFlex="60"> {{email}}</div>
                                </div>


                                <div fxLayout="row" fxLayout.lt-sm="column">
                                    <div fxFlex="40" class="font-weight-600">Phone :</div>
                                    <div fxFlex="60">
                                        ({{phone | slice:0:3}}) {{phone | slice:3:6}} {{phone | slice:6:10}}
                                    </div>
                                </div>

                            </div>



                            <div *ngIf="confirmBackButton" class="text-right mt-20 back-confirm-btn">
                                <button mat-stroked-button color="accent" cdkFocusInitial
                                    [routerLink]="'/to-go-order-load-checkout'">BACK</button>
                                <button mat-stroked-button color="accent" cdkFocusInitial (click)="onSubmit()"
                                    class="ml-20">CONFIRM</button>
                            </div>

                            <div *ngIf="orderProcessing" class="mt-8">
                                <span>Your Order Is Processing Please Wait... </span>
                            </div>

                            <div *ngIf="type2 == ''" class="mt-8">
                                <span class="">Your Order Is Saved <a class="menu_links"
                                        (click)="redirectStartOver()">Start Over</a></span>
                            </div>
                        </div>
                    </form>
                </div>


                <div fxFlex="40" class="border" fxFlex.lt-sm="100"
                    [ngClass.lt-sm]="{'w-100-p': 'true' , 'mt-20' : 'true'}">

                    <h4 class="font-weight-600 font-size-18 accent fuse-white-fg p-12 text-center text-capitalize"> Your
                        Order </h4>
                    <div *ngFor="let data of orderDataArr; let k = index;" class="p-16">
                        <div fxLayout="row" fxLayoutAlign="space-between center" class="mb-8">
                            <div class="font-weight-600 text-capitalize"> {{data.product_name}} </div>
                            <mat-icon (click)="removeOrder(k)" class="border p-12 font-size-20" fxLayout="row"
                                fxLayoutAlign="center center">clear</mat-icon>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="space-between center" class="mb-16">
                            <div class="font-weight-600 text-capitalize">Quantity: {{data.quantity}} </div>
                        </div>

                        <div *ngFor="let item of data.numberOfSideAndExtras; let i = index;" class="mb-16">
                            <div class="font-weight-600 mb-8 font-size-16"
                                *ngIf="data.sideDishFrontArr[i] || data.extrasFrontArr[i] || data.notes[i]"> Entree {{item}} </div>

                            <div class="border px-8 py-12 border-color border-radius-4 line-height-24"
                                *ngIf="data.sideDishFrontArr[i] || data.extrasFrontArr[i] || data.notes[i]">
                                <!-- <div class="font-weight-600">
                                    {{notesData[item-1]}}
                                </div> -->

                                <div fxLayout="row" class="mb-12">
                                    <div class="mr-8 text-capitalize font-weight-600" fxFlex="40"
                                        *ngIf="data.sideDishFrontArr[i] && data.sideDishFrontArr[i] != ''"> Side Dish :</div>

                                    <div fxFlex="60">
                                        <div *ngFor="let items of data.sideDishFrontArr[i]">
                                            {{items}}
                                        </div>
                                    </div>
                                </div>

                                <div fxLayout="row" class="mb-12">
                                    <div class="mr-8 text-capitalize font-weight-600" fxFlex="40"
                                        *ngIf="data.extrasFrontArr[i] && data.extrasFrontArr[i] != ''"> Extras :</div>

                                    <div fxFlex="60">
                                        <div *ngFor="let items of data.extrasFrontArr[i]">
                                            {{items}}
                                        </div>
                                    </div>
                                </div>
                                <div fxLayout="row" class="mb-12">
                                    <div class="mr-8 text-capitalize font-weight-600" fxFlex="40"
                                        *ngIf="data.notes[item-1]"> Notes : </div>
                                    <div fxFlex="60">
                                        <div>{{data.notes[item-1]}} </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>