<div class="page-layout page-layout-add simple left-sidebar inner-sidebar inner-scroll" id="back-appointment-booking-add">
    <!-- HEADER -->
    <div class="header accent p-24 h-80" fxLayout="column" fxLayoutAlign="start"
         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
        
        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">calendar
                </mat-icon>
                <span class="logo-text h3" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                   Rooms Availability Calendar 
                 </span> 
            </div>
        </div>
    </div>
    <!-- / APP TITLE -->
    <div class="center p-4 pb-4 content" [@animate]="{value:'*',params:{delay:'200ms',y:'50px'}}">
        <!-- CONTENT -->
        <form fxLayout="column" name="filterForm" #filter name="filterForm" [formGroup]="filterForm" novalidate autocomplete="off" fxLayoutAlign="center">
            <div class="fuse-common-card w-100-p br-ds-0" fxFlex="100" fxFlexAlign="center">
                <div class="filters" fxLayout="row wrap" fxLayoutAlign="start end">
                    <mat-form-field appearance="outline" fxFlex="40" class="pr-8">
                        <mat-label>Room Filter</mat-label>
                        <mat-select formControlName="room_id" name="room_id" (selectionChange)="getBookings()">
                            <mat-option value="">All</mat-option>
                        <mat-option *ngFor="let room of rooms" [value]="room.id">
                                {{room.type}}
                            </mat-option>
                        </mat-select>
                        <mat-error class="text-capitalize"></mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="40" class="pr-8">
                        <mat-label>Jump To</mat-label>
                        <input matInput #input_end_date [matDatepicker]="picker2"  (dateChange)="getBookings()" 
                        formControlName="jump_to">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                    <button mat-raised-button [ngStyle]="{'margin-bottom':'35px'}" (click)="print()"
                    class="text-uppercase purple-btn-bg font-size-16 fuse-white-fg line-height-44 br-ds-0 box-shadow-none"
                    >Print</button>
                </div>
            </div>
        </form>
    
        <div class="content-card br-ds-0 content-wrap rwe_guest_calendar fuse-white-bg p-28">
                <full-calendar  
                    [ngStyle.lt-md]="{'width.px': 1000}"
                    #fullcalendar
                    [options]="options">
                </full-calendar>
            </div>
        </div>
 </div>

