<div *ngIf="data.type == 'recurringUpdateBooking'">
    <div mat-dialog-content>
        <form class="w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="serviceDialog" novalidate autocomplete="off">
            <div class="form-group line-height-32 text-capitalize">
                <mat-label>Are you sure you want to update service it will delete existing all bookings ?</mat-label>
                <br>
                <mat-checkbox formControlName="sendmail" value="1" class="example-margin">Send mail to resident</mat-checkbox>
                
                <!-- <div class="warn-fg" *ngIf="optionsForm.get('recType').value == 'A'">Past Event and their attendees will be deleted and new events will be added from this instance!</div> -->
            </div> 
            <br>
        </form>
    </div>
    <div mat-dialog-actions class="pb-24">
        <button type="submit" (click)="onSubmitRecBooking()" mat-raised-button [ngStyle]="button" class="text-uppercase line-height-44 br-ds-0 box-shadow-none mr-8">Set</button>
        <button mat-raised-button [ngStyle]="button" class="text-uppercase line-height-44 br-ds-0 box-shadow-none"  [mat-dialog-close]="this.serviceDialog" (click)="onClickCancel()">Close</button>
    </div>
</div>