<div id="albums" class="page-layout simple fullwidth">
    <!-- CENTER -->

    <!-- HEADER -->
    <breadcumb></breadcumb>
    <!-- / HEADER -->
    <div class="content center p-4 pb-4" [@animate]="{value:'*',params:{delay:'200ms',y:'50px'}}">
        <!-- CONTENT CARD -->
        <div class="content-card br-ds-0 content-wrap fuse-white-bg p-28">
            <div fxLayout="row" fxLayoutAlign="space-between center" class="mb-20">
                <button color="accent" type="button" mat-stroked-button [routerLink]="['/gallery/list']">  <mat-icon class="mr-4">arrow_back</mat-icon>Back</button>
            </div>
            <!-- CONTENT -->
            <div class="content">

                <div class="courses" fxLayout="row wrap" fxLayoutGap="10px grid" [@animateStagger]="{value:'50'}">
                    <ng-container *ngIf="albums && albums.data && albums.data.length>0;else emptyBlock">
                        <div class="course" *ngFor="let album of albums.data ;let i =index " fxFlex="33" fxFlex.lt-md="100"
                            [@animate]="{value:'*',params:{y:'100%'}}">
                            <div class="course-content " fxLayout="column" fxFlex="100">
                                <div class="fuse-card h-100-p">
                                    <div class="p-16">
                                        <div class="text-center cursor-pointer collection-stack" [routerLink]="['/gallery/images/',album.id]">
                                            <!-- <img *ngIf="album.bg_image!==''" class="w-50-p h-100-p" alt="album.category_name" [src]="album.bg_image" (error)="album.bg_image = _defaultAvatar" /> -->
                                            <!-- <mat-icon *ngIf="album.bg_image==''" class="icon s-72 logo-icon">photo_album</mat-icon> -->
                                            <div class="collection-view"></div>
                                            <ng-container  *ngFor="let media of medialist[i]; let j = index">
                                                <div  *ngIf="media.thumb!=='' && j<3" class="collection-shadow-{{j}}">
                                                    <img  class="w-100-p h-100-p" alt="media.title" [src]="media.thumb" (error)="media.thumb = _defaultAvatar" />
                                                 </div>
                                            </ng-container> 
                                        </div>
                                        <div class="h2 word-break text-center">{{album.category_name}}</div>
                                    </div>
                                    <!-- Buttons -->
                                    <div class="p-16 pt-4" fxLayout="row" fxLayoutAlign="start center">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <!-- EmptyBlock -->
                    <ng-template #emptyBlock>
                        <div fxFlex="100" *ngIf="showEmptyMsg==false" fxLayoutAlign="center center">
                            <mat-spinner></mat-spinner>
                        </div>
                    </ng-template>
                </div>
                <div class="message-box my-20"
                    *ngIf="showEmptyMsg==true && albums && albums.data && albums.data.length==0 ">
                   
                    <div class="no-record">  No Albums Found</div>
                </div>
            </div>
            <!-- / CONTENT -->
            <!-- FOOTER -->
            <div class="list-footer blue-grey-50 mt-20">
                <div class="pagination" fxLayout="row wrap" fxLayoutAlign="end" [@animateStagger]="{value:'50'}">
                    <mat-paginator #paginator class="blue-grey-50" [length]="albums.total"
                        [pageSize]="PaginationOpt?.pageSize" [pageSizeOptions]="PaginationOpt?.pageSizeOptions">
                    </mat-paginator>
                </div>
            </div>
            <!-- / FOOTER -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
</div>
