
<div  class="page-layout simple left-sidebar inner-sidebar inner-scroll" fusePerfectScrollbar fxLayout="column">
    <!-- HEADER -->
	<div [ngStyle]="accent" class="header p-24 h-80" fxLayout="row" fxLayoutAlign="space-between center">
        <!-- APP TITLE -->
		<div fxLayout="row" fxLayoutAlign="start center">
			<div class="logo" fxLayout="row" fxLayoutAlign="start center">
				<mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">perm_data_setting</mat-icon> 
                <span class="logo-text h3" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Forms Settings
                </span>
			</div>
		</div>
        <!-- / APP TITLE -->
        
        <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="end center">
			<div class="mt-16 mt-sm-0">
				<button mat-raised-button class="reference-button" (click)="SaveSettings()">
					<mat-icon class="mr-4">settings_backup_restore</mat-icon> <span>Save</span>
				</button>
			</div>
		</div>
    </div>


  <div id="settings" class="page-layout simple tabbed" fxLayout="column">

    <!-- CONTENT -->
    <div class="content">
            <!-- SETTINGS -->
            <div id="settings" class="p-24">
                <!--  Resident Directory Search Settings -->
                <form class="" name="directoryform" [formGroup]="FromSettings" novalidate autocomplete="off">
                    <div class="mat-title"><mat-icon>import_export</mat-icon>  Label Settings</div>
                    <div class="mat-card mat-elevation-z2 p-24 mb-4" fxLayout="column">
                        <h3 class="text-capitalize">NOTE : "If user wants to change the label of the status for that label settings are use " </h3>
                        <br>
                        <div fxLayout="row">
                            <label class="font-weight-600" fxFlex="20">Approval Label :</label>
                            <div class="preview" fxLayout="column" fxLayoutAlign="top" fxFlex="80">
                                <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                                    <mat-label>Approval Text </mat-label>
                                    <input matInput  formControlName="approved" required>
                                    <mat-error>field required!</mat-error>
                                </mat-form-field>   
                            </div>
                        </div>
                        <div fxLayout="row">
                            <label class="font-weight-600" fxFlex="20">Submitted Label :</label>
                            <div class="preview" fxLayout="column" fxLayoutAlign="top" fxFlex="80">
                                <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                                    <mat-label>Submitted Text </mat-label>
                                    <input matInput  formControlName="submitted" required>
                                    <mat-error>field required!</mat-error>
                                </mat-form-field>   
                            </div>
                        </div>
                        <div fxLayout="row" >
                            <label class="font-weight-600" fxFlex="20">Completed Label :</label>
                            <div class="preview" fxLayout="column" fxLayoutAlign="top" fxFlex="80">
                                <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                                    <mat-label>Completed  Text </mat-label>
                                    <input matInput  formControlName="completed" required>
                                    <mat-error>field required!</mat-error>
                                </mat-form-field>   
                            </div>
                        </div>
                        <div fxLayout="row">
                            <label class="font-weight-600" fxFlex="20">Pending Label :</label>
                            <div class="preview" fxLayout="column" fxLayoutAlign="top" fxFlex="80">
                                <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                                    <mat-label>Pending Text </mat-label>
                                    <input matInput  formControlName="pending" required>
                                    <mat-error>field required!</mat-error>
                                </mat-form-field>   
                            </div>
                        </div>

                        <div fxLayout="row">
                            <label class="font-weight-600" fxFlex="20">Cancel Label :</label>
                            <div class="preview" fxLayout="column" fxLayoutAlign="top" fxFlex="80">
                                <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                                    <mat-label>Cancel Text </mat-label>
                                    <input matInput  formControlName="cancelled" required>
                                    <mat-error>field required!</mat-error>
                                </mat-form-field>   
                            </div>
                        </div>     
                        <div fxLayout="row">
                            <label class="font-weight-600" fxFlex="20">Denied Label :</label>
                            <div class="preview" fxLayout="column" fxLayoutAlign="top" fxFlex="80">
                                <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                                    <mat-label>Denied Text </mat-label>
                                    <input matInput  formControlName="denied" required>
                                    <mat-error>field required!</mat-error>
                                </mat-form-field>   
                            </div>
                        </div>     
                        <div fxLayout="row">
                            <label class="font-weight-600" fxFlex="20">Rejected Label :</label>
                            <div class="preview" fxLayout="column" fxLayoutAlign="top" fxFlex="80">
                                <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                                    <mat-label>Rejected Text </mat-label>
                                    <input matInput  formControlName="rejected" required>
                                    <mat-error>field required!</mat-error>
                                </mat-form-field>   
                            </div>
                        </div>   
                    </div>
                </form>                
            </div>        
       </div>
    </div>
</div>
    

    
