.sep{
    border-top: solid 1px #ddd;
    margin:24px -24px;
}

.font-size-15 {
    font-size: 15px;
}


@media (max-width:320px) {
    .px-12 {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
}