@import "src/@fuse/scss/fuse";

#My-Events-home {
    mat-header-cell {
        display: flex;
        text-align: center;
        justify-content: center !important;
    }
    mat-cell  {
        display: block;
        text-align: center;
        font-size: 17px;
    }
    .w-space {white-space: break-spaces;}

    // Responsive 
@include media-breakpoint('lt-sm') {
    .mat-table-p {
        padding: 0 !important;

        // h3 {
        //     font-size: 12px;
        // }
    } 

    .mat-header-cell:first-child,
    .mat-header-cell:last-child,
    mat-header-cell {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        // padding: 0 !important;
    }

    .no-record {
        margin: 0 !important;
        padding-bottom: 20px !important;
    }
    
    mat-table {
        overflow-x: auto;
        display: block;

        mat-header-cell {
            white-space: nowrap;
        }
        mat-cell  {
            font-size: 12px !important;
         }
            mat-header-row,
        mat-row{
            min-width: 360px;
        }
        mat-header-cell:nth-of-type(1) {
            min-width: 170px;
        }

        mat-header-cell:nth-of-type(2) {
            min-width: 70px;
        }

        mat-header-cell:nth-of-type(3) {
            min-width: 120px;
        }

        mat-cell:nth-of-type(1) {
            min-width: 170px;
        }

        mat-cell:nth-of-type(2) {
            min-width: 70px;
        }

        mat-cell:nth-of-type(3) {
            min-width: 120px;
        }
    }
}
}


