#upload-img-media {
    width: 100%;
    .custom-error .mat-error{font-size: 100%;}
    // .hideforminput .mat-form-field-infix{padding: 7px !important;}

    .mat-button[disabled] {
        background-color:#5e809a !important;
    }
}

.mat-tab-body-content {
    flex-direction: column;
}