
// .calendar-info {
//     display: block !important;
//     padding: 0 !important;

//     .pl-4.fc-ng-location.ng-star-inserted {
//         display: block !important;
//         padding: 0 !important;
//     }
// }

.calendar-info {
    // text-overflow: ellipsis;
    display: block !important;
    flex: 1 1 auto !important;
    overflow: hidden;
    white-space: normal;
}

.event-info {
    font-size: 14px;
    padding: 6px !important;
    cursor: pointer;
}