<form name="guestForm"  [formGroup]="guestForm" fxLayout="row wrap"> 
    <div formArrayName="guestFields" fxFlex="50" fxFlex.lt-sm="100" *ngFor="let item of guestForm.get('guestFields')['controls']; let i = index;" fxLayout.lt-sm="column">
        <!--DYNAMIC FIELDS-->
        <div class="px-4" fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto" [formGroupName]="i" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="start start">
            <!--Name-->
            <mat-form-field appearance="outline" floatLabel="always"  class="min-100-p">
                <mat-label>Guest Attendees Name*</mat-label>
                <input matInput #autoCompleteInput   [matAutocomplete]="auto" name="first_name" formControlName="first_name" (change)="prepareGuestArray()" required>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setguestFormfields($event,i)" >
                    <ng-container *ngFor="let option of filteredGuests[i]">
                        <mat-option   *ngIf="!ignoreIds.includes(option.id)"  [value]="option" >
                            {{option.first_name+' '+option.last_name}}
                        </mat-option>
                    </ng-container>
                    <mat-option *ngIf="filteredGuests[i] && filteredGuests[i].length==0" disabled="true">Users Not Found</mat-option>
                </mat-autocomplete>
                <mat-error >Guest Attendees Name Required</mat-error>                                     
            </mat-form-field>
        </div>
    </div>
</form> 