<div class="page-layout page-layout-list simple left-sidebar inner-sidebar inner-scroll">

        <!-- HEADER -->
        <div [ngStyle]="accent" class="header p-24 h-80" fxLayout="column" fxLayoutAlign="start"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
            
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">person
                    </mat-icon>
                    <span class="logo-text h3" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        Users
                    </span>
                </div>
            </div>
            <!-- / APP TITLE -->
    
            <!-- BTN's -->
            <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="end center">
                <div class="mt-16 mt-sm-0">
                    <button mat-raised-button class="reference-button" class="mr-4 ml-4" [routerLink]="'/admin/users/add'">
                        <mat-icon class="mr-4">add</mat-icon>
                        Add New
                    </button>
                    
                    <!--TRASH Link-->
                    <button *ngIf="!isTrashView" mat-raised-button class="reference-button" class="mr-4 ml-4" [routerLink]="'/admin/users/trash'">
                        <mat-icon class="mr-4">restore_from_trash</mat-icon>
                        View Trash
                    </button>

                    <!--Export Link-->
                    <button  mat-raised-button class="reference-button" class="mr-4 ml-4" (click)="exportUser()">
                        <mat-icon class="mr-4">import_export</mat-icon>
                        Export Users
                    </button>

                    <!--UsersList-->
                    <button *ngIf="isTrashView" mat-raised-button class="reference-button" class="mr-4 ml-4" [routerLink]="'/admin/users/list'">
                        <mat-icon class="mr-4">person</mat-icon>
                        Users List
                    </button>
                </div>
            </div>
            <!-- / BTN's -->
    
        </div>
        <!-- / HEADER -->
    
        <!-- SELECTED BAR -->
        <div class="selected-bar accent-600 h-80" *ngIf="selection.selected.length>0" [@slideInTop]>
            <div fxFlex fxLayout="row" fxLayoutAlign="start center" class="px-24 py-0 header accent p-24 h-80">
    
                <div class="close-button-wrapper" fxFlex="0 1 auto" fxFlex.gt-sm="220px" (click)="selection.clear()">
                    <button mat-raised-button>
                        <mat-icon class="mr-4">arrow_back</mat-icon>
                        Back
                    </button>
                </div>
    
                <div fxFlex fxLayout="row" fxLayoutAlign="end center">
    
                    <div class="multi-select-actions">
                        <span *ngIf="!isTrashView">
                        <button 
                            type="button" mat-raised-button  class=" mr-4 ml-4" (click)="deleteUser(0)"
                            [disabled]="(!selection.selected.length) ? true : false">Delete</button>
                        <button 
                            type="button" mat-raised-button  class=" mr-4 ml-4" (click)="changeStatus('A')"
                            [disabled]="(!selection.selected.length) ? true : false">Active</button>
                
                        <button type="button" mat-raised-button  class=" mr-4 ml-4" (click)="changeStatus('I')"
                            [disabled]="(!selection.selected.length) ? true : false">Inactive</button>
                
                        <button type="button" mat-raised-button  class=" mr-4 ml-4" 
                            (click)="exportUser()" >Export</button>
                        
                        </span>
                        <span *ngIf="isTrashView">
                            <button 
                            type="button" mat-raised-button color="primary" class=" mr-4 ml-4" (click)="restoreOrDeleteUser(0,false)"
                            [disabled]="(!selection.selected.length) ? true : false">Restore</button>
                            
                            <!--PERMENENT DELETE-->
                            <button 
                            type="button" mat-raised-button color="warn" class="mr-4 ml-4" (click)="restoreOrDeleteUser(0,true)"
                            [disabled]="(!selection.selected.length) ? true : false">Delete</button> 
                        </span> 
                        
                    </div>
    
                </div>
    
            </div>
        </div>
        <!-- / SELECTED BAR -->
        
      <!-- CONTENT -->
        <div class="content" fusePerfectScrollbar>
    
            <!-- CENTER -->
            <div class="center p-24 pb-56" >
    
    
                <!-- FILTER -->
                <div class="filters fuse-white-bg py-20 px-16 mb-20 pb-0" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
                    <form class="w-100-p" #filter name="filterForm" [formGroup]="filterForm" fxLayout="row" fxLayoutAlign="space-between center">
    
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100-p">
                        <mat-form-field appearance="outline" floatLabel="always" class="filter-search mr-4 ml-4">
                            <mat-label>Search</mat-label>
                            <input matInput placeholder="Enter a keyword..."
                                   formControlName="searchKey">
                        </mat-form-field>
        
                        <div>
                            <mat-form-field appearance="outline" class="filter-select mr-4 ml-4">
                                <mat-label>Roles</mat-label>
                                <mat-select 
                                    multiple
                                    placeholder="Role"
                                    formControlName="roles">
                                    <mat-option *ngFor="let role of RoleList" [value]="role.id">
                                    {{role.role_name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
    
                            <mat-form-field appearance="outline" class="filter-select mr-4 ml-4">
                                <mat-label>Status</mat-label>
                                <mat-select 
                                placeholder="Status"
                                formControlName="status">
                                <mat-option *ngFor="let status of StatusList | keyvalue" [value]="status.key">
                                {{status.value}}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                        </div>
                        
                    </div>    
                    </form>
                </div>
    
                <!-- / FILTER -->
    
                <!-- CONTENT -->
                <div class="content">
    
                    <table class="users-table users-list-table" mat-table #table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc" matSortDisableClear [@animateStagger]="{value:'50'}" fusePerfectScrollbar>
                        <ng-container matColumnDef="{{column.columnDef}}" *ngFor="let column of Columns">
                        <!-- OTHER THAN CHECKBOX -->    
                        <span *ngIf="column.columnDef!=='select'">
                            <th class="p-12" [ngStyle]="green_bg_header" mat-header-cell *matHeaderCellDef mat-sort-header="{{column.sortable==true ? column.columnDef : null}}" disabled="{{!column.sortable}}"> {{column.header}} </th>
                            <td class="p-12" mat-cell *matCellDef="let element"> 
                                <!-- OTHER THAN STATUS -->
                                <span *ngIf="column.columnDef!=='status' && column.columnDef!=='action' && column.columnDef!=='avatar' ">{{element[column.columnDef]}}</span>
                                <span *ngIf="column.columnDef=='avatar' ">
                                    <img class="avatar font-size-12 line-height-12" alt="element.first_name" [src]="element.avatar_file" (error)="element.avatar_file = _defaultAvatar"/>
                                </span>
                                <!-- NORMAL VIEW Buttons -->
                                <span *ngIf="column.columnDef=='status'">
                                    <!--status-->
                                    <button mat-icon-button aria-label="Status" class=" check-status">
                                        <mat-icon *ngIf="element.status=='Active'" class="active-icon green-600 s-16 check-status">check</mat-icon>
                                        <mat-icon *ngIf="element.status=='Inactive'" class="active-icon red-500 s-16">close</mat-icon>
                                    </button>                                 
                                </span>
                                <span *ngIf="column.columnDef=='action' && !isTrashView">
                                    <div fxFlex="row" fxLayoutAlign="end center">
                                        <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                                (click)="$event.stopPropagation();">
                                            <mat-icon class="secondary-text">more_vert</mat-icon>
                                        </button>
        
                                        <mat-menu #moreMenu="matMenu">
                                            <button mat-menu-item aria-label="edit" [routerLink]="['/admin/users/view/',element.id]">
                                                <mat-icon>pageview</mat-icon>
                                                <span>View</span>
                                            </button>
                                            <button mat-menu-item aria-label="edit" [routerLink]="['/admin/users/edit/',element.id]">
                                                <mat-icon>edit</mat-icon>
                                                <span>Edit</span>
                                            </button>
                                            <button mat-menu-item aria-label="status"  (click)="changeStatus( element.status=='Active' ? 'I' : 'A' ,element.id)" *ngIf="userId!==element.id">
                                                <mat-icon  *ngIf="element.status=='Inactive'">check</mat-icon>
                                                <mat-icon  *ngIf="element.status=='Active'">close</mat-icon>
                                                <div *ngIf="element.status=='Active';then active else inactive"></div>
                                                <ng-template #active>Inactive</ng-template>
                                                <ng-template #inactive>Active</ng-template>
                                            </button>
                                            <button mat-menu-item aria-label="remove" (click)="deleteUser(element.id)" *ngIf="userId!==element.id">
                                                <mat-icon>delete</mat-icon>
                                                <span>Remove</span>
                                            </button>
                                        </mat-menu>
                                    </div> 
                                </span>
                                <!-- TRASH VIEW BUTTONS -->
                                <span *ngIf="column.columnDef=='action' && isTrashView==true">
                                    <div fxFlex="row" fxLayoutAlign="end center">                                        
                                        <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                                (click)="$event.stopPropagation();">
                                            <mat-icon class="secondary-text">more_vert</mat-icon>
                                        </button>
                                        <mat-menu #moreMenu="matMenu">
                                            <button mat-menu-item aria-label="restore" (click)="restoreOrDeleteUser(element.id,false)">
                                                <mat-icon>restore</mat-icon>
                                                <span>Restore</span>
                                            </button>
                                            <button mat-menu-item aria-label="delete" (click)="restoreOrDeleteUser(element.id,true)">
                                                <mat-icon>delete</mat-icon>
                                                <span>Remove</span>
                                            </button>
                                        </mat-menu>
                                    </div>
                                </span>
                            </td>
                        </span>
                        <!-- CHECKBOX COLUMN -->    
                        <span *ngIf="column.columnDef=='select'">
                            <th [ngStyle]="green_bg_header" mat-header-cell *matHeaderCellDef > 
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let element"> 
                                <mat-checkbox 
                                            (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(element.id) : null"
                                            [checked]="selection.isSelected(element.id)"
                                            >
                                </mat-checkbox>    
                            </td>
                        </span>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator 
                        class="blue-grey-50"
                        #paginator
                        [length]="this.dataSource.filteredData.total"           
                        [pageSize]="PaginationOpt?.pageSize"
                        [pageSizeOptions]="PaginationOpt?.pageSizeOptions">
                    </mat-paginator>
                </div>
                <!-- / CONTENT -->
    
            </div>
            <!-- / CENTER -->
    
        </div>
        <!-- / CONTENT -->
    
    
    
    </div>