@import "src/@fuse/scss/fuse";

#front-food-Reservation{

    .header {
        height: 400px;
        min-height: 400px;
        max-height: 400px;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #FAFAFA;

        background-image: url('/assets/images/backgrounds/dining.jpg');

        @include media-breakpoint(xs) {
            height: 300px;
            min-height: 300px;
            max-height: 300px;
        }

        &:before { 
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            background: rgba(0, 0, 0, 0.45);
        }

        .header-content {
            .header-top {
                position: relative;
                z-index: 2;
            }
        }
    }
 
    .content{
        .content-wrap{
            // padding-bottom: 10px !important;
            max-width: 1080px; 
            margin: 0 auto; 
            margin-top: -40px;
            position: relative;
            z-index: 1;
        }               
    }
    
    mat-expansion-panel-header {
        background-color: rgba(0, 0, 0, 0.04);
        text-transform: capitalize;
    }

    .border-color {
        border-color: rgb(0 0 0 / 10%);
    }


    // Responsive

    @include media-breakpoint('lt-sm') {
        .content-wrap.p-28 {
            padding: 20px !important;
        }

        .left-dropdown-section {
            padding:  0 !important;
            margin: 0 0 20px 0 !important;
        }

        .left-place-order-section {
            margin-top: 0 !important;
        }
    }
}

