@import "src/@fuse/scss/fuse";

#Resident-Directory-user-profile {
    // .header {
    //     height: 400px;
    //     min-height: 400px;
    //     max-height: 400px;  
    //     position: relative;
    //     background-size: cover;
    //     background-position: center;
    //     background-repeat: no-repeat;
    //     background-color: #FAFAFA;

    //     background-image: url('/assets/images/backgrounds/my-events.jpg');

    //     @include media-breakpoint(xs) {
    //         height: 300px;
    //         min-height: 300px;
    //         max-height: 300px;
    //     }

    //     &:before {
    //         content: '';
    //         position: absolute;
    //         top: 0;
    //         right: 0;
    //         bottom: 0;
    //         left: 0;
    //         z-index: 1;
    //         background: rgba(0, 0, 0, 0.45);
    //     }

    //     .header-content {

    //         .header-top {
    //             position: relative;
    //             z-index: 2;
    //         }
    //     }

    // }

    .content{
        padding: 0 !important;

        .content-wrap{
            max-width: 1080px; 
            margin: 0 auto; 
            // margin-top: -40px;
            // margin-top: 40px;
            position: relative;
            z-index: 1;            
        }              
    }

    
  
}


.dynamic-header {
    position: relative;
	height: 576px;
    background-color: #655e5e !important;
    .header.p-24 {
        height: 400px;
        min-height: 400px;
        max-height: 400px;  
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #fafafa;
        ;

        background-image: url('/assets/images/backgrounds/my-events.jpg');

        @include media-breakpoint(xs) {
            height: 300px;
            min-height: 300px;
            max-height: 300px;
        }
    }
    .user-info {
        z-index: 1;
    }
}
h2, .h2 {
    font-size: 28px;
}
.header.p-24 {
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.45);
    }
}


@include media-breakpoint('lt-sm') {
    .content-wrap.fuse-white-bg.p-28 {
        padding: 20px !important;
    }

    .user-info.p-24 {
        padding: 16px !important;
    }
 }