.template-item{border:1px solid #DDDDDD};
.cdk-drag-handle{cursor: move;}
.cdk-drag-preview{background-color: #ffffff;}
.cdk-drag-placeholder {opacity: 0;}

mat-select {
    border: 1px solid white;
}