@import "src/@fuse/scss/fuse";

#Dining-Reservation {
.header {
    height: 400px;
    min-height: 400px;
    max-height: 400px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FAFAFA;

    background-image: url('/assets/images/backgrounds/maintenance-request.jpg');

    @include media-breakpoint(xs) {
        height: 300px;
        min-height: 300px;
        max-height: 300px;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        // background: rgba(0, 0, 0, 0.45);
    } 

    .header-content {

        .header-top {
            position: relative;
            z-index: 2;
        }
    }

}
.Indicates-btn {
    width: 20px;
    height: 12px;
    display: inline-block;
}

.content{
    .content-wrap{
        max-width: 1080px; 
        margin: 0 auto; 
        margin-top: -40px;
        position: relative;
        z-index: 1;
    }              
}

.p-16.border-bottom.service-details:nth-last-of-type(1) {
    border-bottom: none !important;
}

.mr-28.booking-img img{
    width: 150px !important;
    height: 170px !important;
}
    // Responsive 
    @include media-breakpoint('lt-sm')  {
        .content-wrap.fuse-white-bg.p-28{
            padding: 20px !important;
        }

        .mr-28.booking-img {
            margin-right: 0 !important;
        }

        .booking-title {
            margin-bottom: 8px !important;
        }
    }
} 