<div class="page-layout simple fullwidth layout-box" id="front-table-reservation-conform-page">
    <!-- HEADER -->
    <div class="header px-16">

        <div class="header-content h-100-p" fxLayout="column" fxLayoutAlign="center center" fxLayout.lt-sm="row">

            <div class="header-top">

                <div class="logo text-center">
                    <span class="logo-text font-size-48 fuse-white-fg" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" [ngStyle.lt-sm]="{'font-size.px': 30}">
                        <strong>Confirmed Restaurant Reservation</strong>
                    </span>
                </div>
                <!-- HEADER TEXT -->

            </div> 
            <!-- / TOOLBAR -->`
        </div> 

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" [@animate]="{value:'*',params:{delay:'200ms',y:'50px'}}">
        <div class="content-wrap fuse-white-bg p-28">
          
            <h2 class="mb-32 text-bold font-size-28 text-center py-56 text-capitalize" [ngStyle.lt-sm]="{'font-size.px': 18}">
                Thank you, your reservation is confirmed. We will contact you with any questions or concerns. 
            </h2>
            
            <div class="text-center confirm-page-four-buttons" fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-sm="column">
                <button class="m-4" (click)="makeAnotherReservation()" mat-stroked-button color="accent" [ngStyle.lt-sm]="{'font-size.px': 15}" >Make Another Reservation</button>
                <button class="m-4" (click)="returnToHomePage()" mat-stroked-button color="accent" [ngStyle.lt-sm]="{'font-size.px': 15}" >Return To Home Page </button>
                <button class="m-4" (click)="exportToGoogle()" mat-stroked-button color="accent" [ngStyle.lt-sm]="{'font-size.px': 15}" >Add To Google Calendar</button>
                <button class="m-4" (click)="exportToOutlook()" mat-stroked-button color="accent" [ngStyle.lt-sm]="{'font-size.px': 15}" >Add To Outlook / iCal Calendar</button>
            </div>
            
          
        </div>
    </div>    

</div>

