<ng-container *ngIf="variant === 'horizontal-style-1'">
    <navbar-horizontal-style-1></navbar-horizontal-style-1>
</ng-container>

<ng-container *ngIf="variant === 'vertical-style-1'">
    <navbar-vertical-style-1></navbar-vertical-style-1>
</ng-container>

<ng-container *ngIf="variant === 'vertical-style-2'">
    <navbar-vertical-style-2></navbar-vertical-style-2>
</ng-container>
<!--front horizontal navbar-->

<ng-container *ngIf="variant === 'front-navbar-style-1'">
   <navbar-front-horizontal-style-1></navbar-front-horizontal-style-1>
</ng-container>

<ng-container *ngIf="variant === 'front-navbar-style-2'">
    <navbar-front-horizontal-style-2></navbar-front-horizontal-style-2>
 </ng-container>

<!--vertial front navbar-->
<ng-container *ngIf="variant === 'front-vertical-style-1'">
    <front-vertical-style-1></front-vertical-style-1>
</ng-container>