#back-table-reservation-service-add {
    .table-reservation-service-table {
        th , td {
            text-align: center !important;
            padding: 12px 6px;
        }
    }
    
    .table-img-delete-btn {
        padding: 14px;
        border-radius: 50px;
    }

    // .Gallery-upload-btn {
    //     img {
    //         width: 100px;
    //         height: 100px;
    //     }
    // }

    .w-100-px {
        width: 100px;
    }
}

