<div class="page-layout simple fullwidth layout-box" id="front-table-reservation-view-booking">
    <!-- HEADER -->
    <div class="header px-16">

        <div class="header-content h-100-p" fxLayout="column" fxLayoutAlign="center center" fxLayout.lt-sm="row">

            <div class="header-top">

                <div class="logo text-center">
                    <span class="logo-text font-size-48 fuse-white-fg" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" [ngStyle.lt-sm]="{'font-size.px': 30}">
                        <strong>Table Reservation</strong>
                    </span>
                </div>
                <!-- HEADER TEXT -->
 
            </div>
            <!-- / TOOLBAR -->`
        </div> 

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" [@animate]="{value:'*',params:{delay:'200ms',y:'50px'}}">
        <!-- <form class="br-radius-8"  [formGroup]="addBookingForm"  autocomplete="off" > -->
        <div class="content-wrap fuse-white-bg">
            <h1 class="preview-title text-capitalize font-size-28 dt-paginations fuse-white-fg px-28 py-16 m-0" [ngStyle.lt-sm]="{'font-size.px': 20}">Reservation Preview :</h1>
            <div class="word-break p-28">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="baseline start" class="responsive-align-item-baseline mb-12">
                    <h2 class="font-size-18 line-height-40 font-weight-600" fxFlex="20" fxFlex.lt-sm="100" > Dining : </h2>
                    <h2  fxFlex="100" class="font-weight-400 font-size-18" > {{bookingValues.service_title}} </h2>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="baseline start" class="responsive-align-item-baseline mb-12">
                    <h2 class="font-size-18 line-height-40 font-weight-600" fxFlex="20" fxFlex.lt-sm="100" > Name :</h2>
                    <h2  fxFlex="100" class="font-weight-400 font-size-18 text-capitalize" > {{bookingValues.name}} </h2>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="baseline start" class="responsive-align-item-baseline mb-12">
                    <h2 class="font-size-18 line-height-40 font-weight-600" fxFlex="20" fxFlex.lt-sm="100" > Phone :</h2>
                    <h2  fxFlex="100" class="font-weight-400 font-size-18" > {{bookingValues.phone | mask:CustomFormats.phone}} </h2>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="baseline start" class="responsive-align-item-baseline mb-12"> 
                    <h2 class="font-size-18 line-height-40 font-weight-600" fxFlex="20" fxFlex.lt-sm="100" > Email :</h2>
                    <h2  fxFlex="100" class="font-weight-400 font-size-18" > {{bookingValues.email}} </h2>
                </div>
                <div *ngIf="bookingValues.address!=''" fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="baseline start" class="responsive-align-item-baseline mb-12">
                    <h2 class="font-size-18 line-height-40 font-weight-600" fxFlex="20" fxFlex.lt-sm="100" > Home : </h2>
                    <h2  fxFlex="100" class="font-weight-400 font-size-18" > {{bookingValues.address}} </h2>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="baseline start" class="responsive-align-item-baseline mb-12">
                    <h2 class="font-size-18 line-height-40 font-weight-600" fxFlex="20" fxFlex.lt-sm="100" >Date : </h2>
                    <h2  fxFlex="100" class="font-weight-400 font-size-18" > {{bookingValues.booking_start_date | date: defaultDateTimeFormat.date_format}} </h2>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="baseline start" class="responsive-align-item-baseline mb-12">
                    <h2 class="font-size-18 line-height-40 font-weight-600" fxFlex="20" fxFlex.lt-sm="100" >Time : </h2>
                    <h2  fxFlex="100" class="font-weight-400 font-size-18" > {{bookingValues.booking_start_time}} </h2>
                </div>
                 <div fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="baseline start" class="responsive-align-item-baseline mb-12">
                    <h2 class="font-size-18 line-height-40 font-weight-600" fxFlex="20" fxFlex.lt-sm="100" >Table Size : </h2>
                    <h2  fxFlex="100" class="font-weight-400 font-size-18" *ngIf="bookingValues.min_table_size == bookingValues.max_table_size"> {{bookingValues.min_table_size}}</h2>
                    <h2  fxFlex="100" class="font-weight-400 font-size-18" *ngIf="bookingValues.min_table_size != bookingValues.max_table_size"> {{bookingValues.min_table_size}} - {{bookingValues.max_table_size}}</h2>
                </div>
                <!-- <div fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="baseline start" class="responsive-align-item-baseline mb-12">
                    <h2 class="font-size-18 line-height-40 font-weight-600" fxFlex="20" fxFlex.lt-sm="100" >Maximum Table Size : </h2>
                    <h2  fxFlex="100" class="font-weight-400 font-size-18" > {{bookingValues.max_table_size}} </h2>
                </div> -->
                <div fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="baseline start" class="responsive-align-item-baseline mb-12">
                    <h2 class="font-size-18 line-height-40 font-weight-600" fxFlex="20" fxFlex.lt-sm="100" >Party Size : </h2>
                    <h2  fxFlex="100" class="font-weight-400 font-size-18" > {{bookingValues.guestcount}} </h2>
                </div>
                <div *ngIf="guestsInfo.length!=0" fxLayout="row" fxLayout.lt-sm="column"  fxLayoutAlign="baseline start" fxLayoutAlign.lt-sm="baseline start">
                    <h2 class="font-size-18 line-height-40 font-weight-600" fxFlex="20" fxFlex.lt-sm="100" >Guests :</h2>
                    
                    <div fxLayout="column">
                        <div *ngFor="let guestsInfos of guestsInfo;let i = index;"  fxFlex="100">
                            <h2 class="font-weight-400 font-size-18 mr-12 text-capitalize" >{{i+1}}. {{guestsInfos.guest_name}}</h2>
                        </div>
                    </div>    
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="baseline start" class="responsive-align-item-baseline mb-12 mt-20" *ngIf="notes!=''">
                    <h2 class="font-size-18 line-height-40 font-weight-600" fxFlex="20" fxFlex.lt-sm="100" >Notes : </h2>
                    <h2  fxFlex="100" class="font-weight-400 font-size-18 text-capitalize" > {{bookingValues.notes}} </h2>
                </div>
                <div class="mt-20">
                    <button (click)="goDisplayBookingPage()" mat-stroked-button color="accent"  class="mr-8">Back</button>
                    <button (click)="makeReservation()" mat-stroked-button color="accent" >Make Reservation</button>
                </div>
            </div>
        </div>
    </div>
</div>

