
<!-- forms -->
<div *ngIf="data.type == 'form'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group">
                <mat-label>{{userName}} is already editing this form. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('preview')">Preview</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>

<!-- Announcement  -->
<div *ngIf="data.type == 'UpdateAnnouncement'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group ">
                <mat-label>{{userName}} is already editing this Announcement. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>

<!--pages-->
<div *ngIf="data.type == 'UpdatePage'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group ">
                <mat-label>{{userName}} is already editing this Page. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>
<!--pages-->
<div *ngIf="data.type == 'UpdateEvent'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group ">
                <mat-label>{{userName}} is already editing this event. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>
<!--forum-->
<div *ngIf="data.type == 'UpdateForum'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group ">
                <mat-label>{{userName}} is already editing this forum. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>
<!-- dining reservation booking -->
<div *ngIf="data.type == 'UpdateDiningBookings'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group ">
                <mat-label>{{userName}} is already editing this booking. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>
<!-- table reservation booking -->
<div *ngIf="data.type == 'UpdateTableBookings'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group ">
                <mat-label>{{userName}} is already editing this booking. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>
<!-- table reservation service -->
<div *ngIf="data.type == 'UpdateTableServie'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group ">
                <mat-label>{{userName}} is already editing this service. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>
<!-- dining reservation service -->
<div *ngIf="data.type == 'UpdateDiningServie'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group ">
                <mat-label>{{userName}} is already editing this service. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>
<!-- event attendee -->
<div *ngIf="data.type == 'UpdateEventAttendee'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group ">
                <mat-label>{{userName}} is already editing this event attendee. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>
<!-- appointment service -->
<div *ngIf="data.type == 'UpdateAppointmentService'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group ">
                <mat-label>{{userName}} is already editing this service. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>
<!-- appointment booking -->
<div *ngIf="data.type == 'UpdateAppointmentbooking'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group ">
                <mat-label>{{userName}} is already editing this booking. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>
<!-- staff -->
<div *ngIf="data.type == 'staff'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group ">
                <mat-label>{{userName}} is already editing this staff. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>
<!-- to go order product -->
<div *ngIf="data.type == 'updateProduct'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group ">
                <mat-label>{{userName}} is already editing this product. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>
<!-- to go order -->
<div *ngIf="data.type == 'updateOrder'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group ">
                <mat-label>{{userName}} is already editing this order. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>
<!-- forum topic -->
<div *ngIf="data.type == 'forumtopic'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group ">
                <mat-label>{{userName}} is already editing this order. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>
<!-- meeting room food drinks  -->
<div *ngIf="data.type == 'updateFoodDrinks'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group ">
                <mat-label>{{userName}} is already editing this food drinks. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>
<!-- meeting room room layout  -->
<div *ngIf="data.type == 'updateRoomLayout'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group ">
                <mat-label>{{userName}} is already editing this food drinks. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>
<!-- meeting room equipment  -->
<div *ngIf="data.type == 'updateEquipment'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group ">
                <mat-label>{{userName}} is already editing this food drinks. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>
<!-- meeting room Rooms  -->
<div *ngIf="data.type == 'updateRooms'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group ">
                <mat-label>{{userName}} is already editing this food drinks. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>
<!-- meeting room food drinks  -->
<div *ngIf="data.type == 'updateBooking'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group ">
                <mat-label>{{userName}} is already editing this food drinks. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>
<!-- food reservation side dish  -->
<div *ngIf="data.type == 'updateSideDish'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group ">
                <mat-label>{{userName}} is already editing this food drinks. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>
<!-- food reservation location  -->
<div *ngIf="data.type == 'updateLocation'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group ">
                <mat-label>{{userName}} is already editing this food drinks. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>
<!-- food reservation extras  -->
<div *ngIf="data.type == 'updateExtras'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group ">
                <mat-label>{{userName}} is already editing this food drinks. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>
<!-- field  -->
<div *ngIf="data.type == 'updateFields'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group ">
                <mat-label>{{userName}} is already editing this food drinks. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>
<!-- booking  -->
<div *ngIf="data.type == 'guestbooking'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group ">
                <mat-label>{{userName}} is already editing this booking. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>
<!-- rooms  -->
<div *ngIf="data.type == 'guestroom'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group ">
                <mat-label>{{userName}} is already editing this room. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>

<!-- guest room extras  -->
<div *ngIf="data.type == 'guestextra'">
    <div mat-dialog-content>
        <form class="p-0 w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off"
        [formGroup]="entriesDialog" novalidate autocomplete="off">
            <div class="form-group ">
                <mat-label>{{userName}} is already editing this extras. Do you want to take over?</mat-label>
            </div>
            <br>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('goback')">Go back</button>
        <button mat-raised-button color="primary"  [mat-dialog-close]="this.serviceDialog" (click)="onNoClick('takeover')">Take over</button>
    </div>
</div>

