.mt-28 {margin-top: 28px;}
.mb-0{margin-bottom: 0;}
.p-0{padding: 0 !important;}
.mr-12{margin-right: 12px;}

// mat-expansion-panel-header:hover,
// .mat-expansion-panel-header.mat-expanded:focus{
//     background: #039be5 !important; 
// }

// .mat-expansion-indicator::after {
//     color: white !important;
// }

// .mat-form-field-appearance-legacy .mat-form-field-infix {
//     width: 100%;
// }