.h-550{min-height: 550px !important;}
.cursor-pointer{cursor: pointer;}
.word-break-label{
    
    white-space: normal;
    label{
        white-space: normal !important;
    }
}

.mat-checkbox-layout{
    white-space: normal !important;
}