// Calendar.component.scss
@import "src/@fuse/scss/fuse";

.fc-content .fc-time, .fc-content .fc-title{display: none;}
// a.fc-day-grid-event{background-color: transparent !important; border-color: transparent !important;color: #000 !important; margin: 0 !important;padding: 0 !important;}
.fc-event{
    font-size: inherit !important;
    word-break: break-all !important;
}
.event-details-dialog .mat-dialog-container{padding: 0 !important;}



#calendar {  
    .mr-10{margin-right: 10px;}
    .filters{
        .reset-print-btn {
            margin: 0 0 50px 0;

            button {
                padding:0 15px;
            }
        }
    }
    .header {
        height: 400px;
        min-height: 400px;
        max-height: 400px;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #FAFAFA;

        background-image: url('/assets/images/backgrounds/calendar.jpg');

        @include media-breakpoint(xs) {
            height: 300px;
            min-height: 300px;
            max-height: 300px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            // background: rgba(0, 0, 0, 0.45);
        }

        .header-content {

            .header-top {
                position: relative;
                z-index: 2;
            }
        }

    }

    .content{
        padding: 0 !important;
        .content-wrap{
            max-width: 1080px; 
            margin: 0 auto; 
            margin-top: -40px;
            position: relative;
            z-index: 1;
        }              
    }
    .fc-timeGridDay-view, .fc-timeGridWeek-view{
        .fc-axis{
            display:none !important;
        }
    }
    
 
    // full-calendar {
    //     .fc-content {
    //         .event-info{
    //             color: black;
    //         }
    //     }
    // } 

    full-calendar{
        thead{
            th{
                padding: 12px 0;
                background-color:#63a4c0;
                color:black;
            }
        }

        .fc-time-grid .fc-event {
            position: initial;
            margin-right: 0 !important;
            word-break: break-all !important;
        }

        .fc-button-primary {
            background-color: #63a4c0;
            color: black;
            border-color: #3e5c59;
            text-transform: capitalize;
        }

        .fc-button-primary:hover,
        .fc-list-day-cushion,
        .fc-button-active {
            background-color: #3e5c59 !important;
            border-color: #3e5c59 !important;
            color: white !important;
        }

        .fc-button-group {
            button {
                text-transform: capitalize;
            }
        }

        .fc-button-primary:focus {
            box-shadow:none;
        }

        .fc-list-item-title.fc-widget-content{
            cursor: pointer;
            padding-left: 0 !important;
        }
        .fc-list-item-title a{
            color: #000000 !important;
            text-decoration: none !important;
        }

        .fc-center {
            h2 {
                margin: 4px 0;
            }
        }

        .fc-left {
            button {
                text-transform: capitalize;
            }
        }
    
        .fc-day-grid-event:hover {
            color: transparent !important;
        }
        .fc-event-title-container, .fc-list-event-dot{
            display: none !important;
        }
        a.fc-daygrid-event{
            border-width: 4px !important;
            margin-bottom: 2px !important;
        }
        a.fc-col-header-cell-cushion,
        a.fc-list-day-text,a.fc-list-day-side-text{
            color: #ffffff !important;
        }

    }

    .fc-scroller {
        overflow-x: scroll;
        height: auto !important;
    }
    .Indicates-btn {width: 20px;height: 12px;display: inline-block;}
}
 
.scroll{
    overflow-x: scroll; 
}
 


@include media-breakpoint('lt-sm') {
    .p-28 {
        padding: 20px !important;
    }
    
    .fc-toolbar.fc-header-toolbar {
        flex-direction: column !important;
    }

    .fc td,
    .fc th {
        // width: 106px !important;
        width: 139px !important;

    }
    .fc-view-container {
        overflow-x: scroll;
    }

    .fuse-card.no-br {
        min-width: 100% !important;
    }
    
 }
//  .fc-ng-location{
//     word-break:break-all !important;
// }