.text-center {text-align: center !important;}

td {
    vertical-align: baseline;
}

.h-65-px {
    height: 65px;
}

.w-100-px {
    width: 100px;
}

.w-200-px {
    width: 200px !important;
}

.w-190-px {
    width: 190px;
}

.font-size-14 {
    font-size: 14px !important;
}