@import "src/@fuse/scss/fuse";

.header {
    height: 400px;
    min-height: 400px;
    max-height: 400px;  
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FAFAFA;

    @include media-breakpoint(xs) {
        height: 300px;
        min-height: 300px;
        max-height: 300px;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        // background: rgba(0, 0, 0, 0.45);
    }

    .header-content {

        .header-top {
            position: relative;
            z-index: 2;
        }
    }

}